aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.8.1
attrs==23.2.0
backoff==2.2.1
bcrypt==4.1.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.4
distro==1.9.0
email-validator==2.1.1
fastapi==0.104.1
frozenlist==1.4.1
fsspec==2024.3.1
googleapis-common-protos==1.63.0
groq==0.4.2
grpcio==1.62.1

httpx==0.24.1

httptools==0.6.1
huggingface-hub==0.23.0
idna==3.6
Jinja2==3.1.3
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-groq==0.0.1
langchain-openai==0.1.6
langchain-text-splitters==0.0.2
langgraph==0.0.40
langsmith==0.1.147

markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
mdurl==0.1.2
multidict==6.0.5
mypy_extensions==1.0.0

numpy==1.26.4
oauthlib==3.2.2
openai==1.109.1

orjson==3.10.1
packaging==23.2
passlib==1.7.4
pgvector==0.2.5
Pillow==10.3.0
postgrest==0.16.11
posthog==3.5.0
protobuf==4.25.3
psycopg2-binary==2.9.9

pydantic==2.7.1
pydantic-settings==2.1.0

Pygments==2.17.2
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.1
python-multipart==0.0.6
PyPDF2==3.0.1
PyYAML==6.0.1

redis==5.0.3
regex==2024.4.16
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.1

scikit-learn==1.4.2
scipy==1.13.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1

SQLAlchemy==2.0.29
starlette==0.27.0

supabase==2.4.6
supafunc==0.4.5
storage3==0.7.4
realtime==1.0.6
gotrue==2.4.2

tenacity==8.2.3
threadpoolctl==3.4.0
tiktoken==0.6.0
tqdm==4.66.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions>=4.12.2,<5

urllib3==2.2.1
uvicorn==0.24.0
uvloop==0.19.0
watchfiles==0.21.0

websocket-client==1.7.0
websockets==12.0

yarl==1.9.4
zipp==3.18.1
